<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="carouselFragment (books, title)">
    <div class="Section-header">
        <h2 class="Section-title" th:text="${title}">Рекомендуемое</h2>
    </div>
    <div class="Slider Slider_carousel">
        <div class="Slider-box Cards" data-load="recommended" data-loadoffset="8" data-loadlimit="20">
            <div th:if="${books.size() > 0}" class="Slider-item" th:each="book : ${books}">
                <div class="Slider-content">
                    <div class="Card">
                        <a class="Card-picture" href="/books/slug.html" th:href="${'/books/' + book.id}">
                            <img src="/assets/img/content/main/card.jpg" alt="card.jpg"/>
                        </a>
                        <div class="Card-content">
                            <strong class="Card-title">
                                <a href="/books/slug.html" th:text="${book.title}" th:href="${'/books/' + book.id}">
                                    Техника
                                </a>
                            </strong>
                            <div class="Card-description">
                                <a th:href="|@{/authors/}${book.author.id}|" th:text="${book.author.name}">
                                    Кондратенко Валерий Петрович
                                </a>
                            </div>
                            <div class="Card-cost">
                                <span class="Card-priceOld" th:text="${book.priceOld}">₽300.00</span>
                                <span class="Card-price" th:text="${book.price}">₽190.00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Slider-navigateWrap">
            <div class="Slider-navigate"></div>
        </div>
        <div class="Slider-load">
            <div class="Slider-load-text">Идет загрузка данных</div>
        </div>
    </div>
</div>
</body>
</html>