<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<span th:fragment="cartBooks(books)">
  <div class="Cart-product" th:each="book : ${books}">
    <div class="Cart-block Cart-block_row">
      <div class="Cart-block Cart-block_pict">
        <a class="Cart-pict" href="#" th:href="${'/books/' + book.id}">
          <img class="Cart-img" src="/assets/img/content/main/card.jpg" th:src="${book.image}" alt="card.jpg"/>
        </a>
      </div>
      <div class="Cart-block Cart-block_row">
        <div class="Cart-block Cart-block_info">
          <div class="Cart-author">
            <a href="#" th:href="${'/authors/' + book.author.id}" th:text="${book.author.name}">Борис Васильевич Бедный</a>
          </div>
          <div class="Cart-title"><a href="#" th:href="${'/books/' + book.id}" th:text="${book.title}">Жизнь</a></div>
          <div class="Cart-rating">
            <span class="Rating">
              <span th:replace="~{fragments/book_fragments :: intStars(${book.rating.ratingAvg})}"></span>
            </span>
          </div>
          <div class="Cart-buttons">
            <div class="Cart-btn">
              <button class="btn btn_primary btn_outline" data-sendstatus="KEPT" data-bookid="[1122]">
                <span class="btn-icon">
                  <img src="/assets/img/icons/heart.svg" alt="heart.svg"/>
                </span>
                <span class="btn-content" th:text="#{cartbook.bookmark}">Отложить</span>
              </button>
            </div>
            <div class="Cart-btn">
              <button class="btn btn_danger btn_outline" data-sendstatus="UNLINK" data-bookid="[1122]">
                <span class="btn-icon">
                  <img src="/assets/img/icons/trash.svg" alt="trash.svg"/>
                </span>
                <span class="btn-content" th:text="#{cartbook.delete}">Удалить</span>
              </button>
            </div>
          </div>
        </div>
        <div class="Cart-block Cart-block_price">
          <div th:text="${price}"></div>
          <div class="Cart-priceTitle" th:text="#{cartbook.price}">Цена:</div>
          <div class="Cart-price Cart-price_old" th:text="${book.price - (book.price * book.discount / 100)}">254 р.</div>
          <div class="Cart-price" th:text="${book.price}">180 р.</div>
          <div
                  class="Cart-sale"
                  th:text="${book.discount + '%'}">
            -30%
          </div>
        </div>
      </div>
    </div>
  </div>
</span>
</body>
</html>