<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="menuFragment (isTopBar)">
    <li class="menu-item">
        <a
                class="menu-link"
                href="/index.html"
                th:classappend="${#httpServletRequest.requestURI == '/' && isTopBar} ? 'menu-item_ACTIVE' : ''"
                th:href="@{/}"
                th:text="#{topbar.main}"
        >Главная</a>
    </li>
    <li class="menu-item">
        <a
                class="menu-link"
                href="/genres/index.html"
                th:classappend="${#httpServletRequest.requestURI == '/genres' && isTopBar} ? 'menu-item_ACTIVE' : ''"
                th:href="@{/genres}"
                th:text="#{topbar.genres}"
        >Жанры</a>
    </li>
    <li class="menu-item">
        <a
                class="menu-link"
                href="/books/recent.html"
                th:classappend="${#httpServletRequest.requestURI == '/recent' && isTopBar} ? 'menu-item_ACTIVE' : ''"
                th:href="@{/recent}"
                th:text="#{topbar.recent}"
        >Новинки</a>
    </li>
    <li class="menu-item">
        <a
                class="menu-link"
                href="/books/popular.html"
                th:classappend="${#httpServletRequest.requestURI == '/popular' && isTopBar} ? 'menu-item_ACTIVE' : ''"
                th:href="@{/popular}"
                th:text="#{topbar.popular}"
        >Популярное</a>
    </li>
    <li class="menu-item">
        <a
                class="menu-link"
                href="/authors/index.html"
                th:classappend="${#httpServletRequest.requestURI == '/authors' && isTopBar} ? 'menu-item_ACTIVE' : ''"
                th:href="@{/authors}"
                th:text="#{topbar.authors}"
        >Авторы</a>
    </li>
</div>
</body>
</html>