
<!--END-->
<!--END--><!DOCTYPE html><!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if gt IE 9]><!--> <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head th:replace="~{fragments/head_fragment :: headFragment (pageName=#{topbar.main})}"></head>
<body class="Site">
  <!--if lt IE 8
  p.error-browser
      | Ваш браузер&nbsp;
      em устарел!&nbsp;
      a(href="http://browsehappy.com/") Выберите новую версию
          +s
          | браузера здесь&nbsp;
      | для правильного отображения сайта.
  -->
  <header th:replace="~{fragments/header_fragment :: headFragment}"></header>
  <div class="Middle">
    <div class="wrap">
      <main class="Middle-main">
        <div class="Section">
          <div th:replace="~{fragments/carousel_fragment :: carouselFragment(${recommendedBooks}, #{books.recommended})}"></div>

          <div th:replace="~{fragments/carousel_fragment :: carouselFragment(${recentBooks}, #{books.recent})}"></div>

          <div th:replace="~{fragments/carousel_fragment :: carouselFragment(${popularBooks}, #{books.popular})}"></div>
        </div>
        <h2 class="Middle-title">Книги по тегам
        </h2>
        <div class="Tags" id="tags">
          <div th:each="tag : ${tags}" class="Tag Tag_xs" >
            <a th:href="|@{/tags/}${tag.id}|" th:text="${tag.name}">современная литература</a>
          </div>
          <div class="Tag Tag_sm"><a href="/tags/index.html">классическая литература</a></div>
          <div class="Tag Tag_md"><a href="/tags/index.html">зарубежная литература</a></div>
          <div class="Tag Tag_lg"><a href="/tags/index.html">английская литература</a></div>
        </div>
      </main>
    </div>
  </div>
  <footer th:replace="~{fragments/footer_fragment :: footerFragment}"></footer>
  <!--+menu(-->
  <!--    'Это раз',-->
  <!--    'Это два',-->
  <!--    'Это три'-->
  <!--)-->
  <!--br-->
  <!--br-->
  <!--+menu._vt-->
  <!--    +menuItem Это раз-->
  <!--    +menuItem.-item_danger Это два-->
  <!--    +menuItem Это три-->
</body></html>