
<!--END-->
<!--END--><!DOCTYPE html><!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if gt IE 9]><!--> <html  xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head th:replace="~{fragments/head_fragment :: headFragment (pageName=${authorData.firsName + ' ' + authorData.lastName})}"></head>
<body class="Site">
  <!--if lt IE 8
  p.error-browser
      | Ваш браузер&nbsp;
      em устарел!&nbsp;
      a(href="http://browsehappy.com/") Выберите новую версию
          +s
          | браузера здесь&nbsp;
      | для правильного отображения сайта.
  -->
  <header th:replace="~{fragments/header_fragment :: headFragment}"></header>
  <div class="Middle">
    <div class="wrap">
      <main class="Middle-main">
        <ul class="breadcrumbs">
          <li class="breadcrumbs-item"><a href="/index.html" th:href="@{/}">Главная</a></li>
          <li class="breadcrumbs-item"><a href="/genres/index.html" th:href="@{/genres}">Книги</a></li>
          <li class="breadcrumbs-item breadcrumbs-item_current"><span th:text="${authorData.firsName + ' ' + authorData.lastName}">Борис Васильевич Бедный</span></li>
        </ul>
        <h1 class="Middle-title" th:text="${authorData.firsName + ' ' + authorData.lastName}">Борис Васильевич Бедный</h1>
        <div class="Section">
          <div th:replace="~{fragments/cards_fragment :: cardsFragment(books=${authorBooks})}"></div>
        </div>
      </main>
    </div>
  </div>
  <footer th:replace="~{fragments/footer_fragment :: footerFragment}"></footer>
</body></html>