
<!--END-->
<!--END--><!DOCTYPE html><!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if gt IE 9]><!--> <html  xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head th:replace="~{fragments/head_fragment :: headFragment (pageName=${book.title})}"></head>
<body class="Site">
<!--if lt IE 8
p.error-browser
    | Ваш браузер&nbsp;
    em устарел!&nbsp;
    a(href="http://browsehappy.com/") Выберите новую версию
        +s
        | браузера здесь&nbsp;
    | для правильного отображения сайта.
-->
  <header th:replace="~{fragments/header_fragment :: headFragment}"></header>
  <div class="Middle">
    <div class="wrap">
      <main class="Middle-main">
        <ul class="breadcrumbs">
          <li class="breadcrumbs-item"><a href="/index.html" th:href="@{/}" th:text="#{topbar.main}">Главная</a></li>
          <li class="breadcrumbs-item"><a href="/genres/index.html" th:href="@{/genres}" th:text="#{topbar.genres}">Книги</a></li>
          <li class="breadcrumbs-item breadcrumbs-item_current"><span th:text="${book.title}">Мара и морок</span></li>
        </ul>
        <div class="Product">
          <div class="ProductCard">
            <div class="ProductCard-look">
              <form id="imgForm" method="POST" enctype="multipart/form-data" th:action="|@{/books/}${book.slug + '/img/save'}|">
                <div class="ProductCard-photo" id="uploadButton">
                  <img src="/assets/img/content/main/card.jpg" th:src="${book.image}" alt="card.jpg"/>
                </div>
                <input type="file" name="file" id="dialog" style="display: none" accept="image/*"/>
              </form>
            </div>
            <div class="ProductCard-desc">
              <div class="ProductCard-header">
                <h1 class="ProductCard-title" th:text="${book.title}">Мара и морок</h1>
                <div class="ProductCard-author">
                  <span class="ProductCard-titleProp">Автор:</span>&#32;
                  <a href="#" th:href="|@{/authorbooks/}${book.author.id}|" th:text="${book.author.name}">Лия Арден</a>
                </div>
                <div class="ProductCard-rating">
                  <span class="ProductCard-titleProp" th:text="#{book.rating}">Рейтинг:</span>
                  <button class="trigger trigger_dropdown" type="button">
                    <div
                            class="Rating Rating_noStyleLink"
                            th:replace="~{fragments/book_fragments :: ratingStars(${book.rating.ratingAvg}, ${book.rating.ratingAll})}"
                    >
                    </div>
                    <div th:replace="~{fragments/book_fragments :: ratingsModal(${book.rating})}"></div>
                  </button>
                </div>
                <div class="ProductCard-assessment">
                  <span class="ProductCard-titleProp">Оцените книгу:</span>
                  <span class="Rating Rating_input" data-bookid="2121">
                    <span class="Rating-stars">
                      <span th:replace="~{fragments/book_fragments :: star (false)}"></span>
                      <input name="rating" type="radio" value="1" th:data-bookid="${book.slug}"/>
                      <span th:replace="~{fragments/book_fragments :: star (false)}"></span>
                      <input name="rating" type="radio" value="2" th:data-bookid="${book.slug}"/>
                      <span th:replace="~{fragments/book_fragments :: star (false)}"></span>
                      <input name="rating" type="radio" value="3" th:data-bookid="${book.slug}"/>
                      <span th:replace="~{fragments/book_fragments :: star (false)}"></span>
                      <input name="rating" type="radio" value="4" th:data-bookid="${book.slug}"/>
                      <span th:replace="~{fragments/book_fragments :: star (false)}"></span>
                      <input name="rating" type="radio" value="5" th:data-bookid="${book.slug}"/>
                    </span>
                  </span>
                </div>
                <div class="ProductCard-tags">
                  <span class="ProductCard-titleProp" th:text="#{common.tags}">Тэги:</span>
                  <span th:each="tag, iterStat : ${book.tagList}">
                    <a
                            href="/tags/"
                            th:href="|@{/tags/}${tag.id}|"
                            th:text="${tag.name}">
                      Современные
                    </a><span th:if="${!iterStat.last}">,&#32;</span>
                  </span>
                </div>
                <div class="ProductCard-cost">
                  <span class="ProductCard-titleProp" th:text="#{book.price}">Цена:</span>
                  <span class="ProductCard-priceOld" th:text="${book.price}">₽300</span>
                  <span class="ProductCard-price" th:text="${book.price - (book.price * book.discount / 100)}">₽180</span>
                </div>
                <!--+div.-info
                //+div.-cost
                //    +div.-price $55.00
                //    +div.-priceOld $115.00
                //+div.-compare
                //    +btn._default
                //        +img('change.svg','icons/card').-icon
                -->
              </div>
              <article class="Article">
                <div class="sdf">
                </div>
                <div class="Spoiler">
                  <div class="Spoiler-visible">
                    <div>
                      <p th:text="${stringHelper.getLeadingPart(book.description, 200)}"></p>
                    </div>
                  </div>
                  <div class="Spoiler-hide">
                    <p th:text="${stringHelper.getSuffixPart(book.description, 200)}"></p>
                  </div>
                  <div class="Spoiler-footer">
                    <button
                            class="Spoiler-trigger btn btn_primary btn_nr"
                            type="button"
                            th:data-showtext="#{buttons.showless}"
                            data-showtext="Свернуть"
                            th:data-hidetext="#{buttons.showmore}"
                            data-hidetext="Показать полностью"
                    >
                    </button>
                  </div>
                </div>
              </article>
              <div class="ProductCard-cart">
                <!--+div.-cartElement.-cartElement_amount-->
                <!--    +Amount._product-->
                <div class="ProductCard-cartElement">
                  <button
                          th:if="${!isPostponed}"
                          class="btn btn_primary btn_outline"
                          data-sendstatus="KEPT"
                          data-bookid="[1111]"
                          th:data-bookid="${'postpone/' + book.slug}"
                          data-btntype="check"
                          data-btnradio="buyblock"
                          data-check="false"
                          data-alttext="Отложена">
                    <span class="btn-icon"><img src="/assets/img/icons/heart.svg" alt="heart.svg"/></span>
                    <span class="btn-content" th:text="#{buttons.postpone}">Отложить</span>
                  </button>
                  <button th:if="${isPostponed}" class="btn btn_primary btn_outline">
                    <span class="btn-content" th:text="#{buttons.postponed}">Отложена</span>
                  </button>
                </div>
                <div class="ProductCard-cartElement">
                  <button
                          th:if="${!isInCart}"
                          class="btn btn_primary btn_outline"
                          data-sendstatus="CART"
                          data-bookid="[1111]"
                          th:data-bookid="${'addCart/' + book.slug}"
                          data-btntype="check"
                          data-btnradio="buyblock"
                          data-check="false"
                          data-alttext="В корзине"
                  >
                    <span class="btn-icon"><img src="/assets/img/icons/shopping-basket.svg" alt="shopping-basket.svg"/></span>
                    <span class="btn-content" th:text="#{buttons.tocart}">Купить</span>
                  </button>
                  <button th:if="${isInCart}" class="btn btn_primary btn_outline">
                    <span class="btn-content" th:text="#{buttons.incart}">В корзине</span>
                  </button>
                </div>
              </div>
              <div class="ProductCard-cart">
                <!--+div.-cartElement.-cartElement_amount-->
                <!--    +Amount._product-->
                <div class="ProductCard-cartElement"><a class="btn btn_primary btn_outline" href="#"><span class="btn-icon"><img src="/assets/img/icons/download.svg" alt="download.svg"/></span><span class="btn-content">Скачать</span></a>
                </div>
                <div class="ProductCard-cartElement">
                  <button
                          class="btn btn_primary btn_outline"
                          data-sendstatus="ARCHIVED"
                          data-bookid="[1111]"
                          data-btntype="check"
                          data-btnradio="buyblock"
                          data-check="false"
                          data-alttext="Вернуть из архива"
                  >
                    <span class="btn-icon">
                      <img src="/assets/img/icons/archive.svg" alt="archive.svg"/>
                    </span>
                    <span class="btn-content">В архив</span>
                  </button>
                </div>
              </div>

              <div id="downloadPopup">
                <p>Ссылки для скачивания</p>
                <div th:each="bookFile : ${book.getBookFileList()}">
                  <a href='#' th:href="|@{/books/download/}${bookFile.hash}|" th:text="${bookFile.getBookFileExtensionString()}"></a>
                </div>
                <span id="downloadPopup__close" class="close">❎</span>
              </div>
              <div id="downloadOverlay"></div>
              <!--+div.-cart-->
              <!--    //+div.-cartElement.-cartElement_amount-->
              <!--    //    +Amount._product-->
              <!--    +div.-cartElement-->
              <!--        +btn('button')(data-sendstatus='UNLINK' data-bookid="[1111]")._muted Вернуть из архива-->
            </div>
          </div>
          <div class="Product-comments">
            <div class="Product-comments-header">
              <h3 class="Product-comments-title" th:text="#{book.reviews}">Отзывы</h3>
              <span class="Product-comments-amount" th:text="|${book.bookReviewList.size()} #{book.reviewcnt}|">567 отзывов</span>
              <button
                      class="Spoiler-trigger btn btn_primary btn_nr"
                      type="button"
                      id="reviewWindow"
                      th:disabled="${curUsr == null}"
                      th:text='${curUsr == null ? "Зарегистрируйтесь, чтобы оставить отзыв" : "Оставить отзыв"}'
              >
                Оставить отзыв
              </button>
            </div>
          </div>

          <div id="reviewPopup">
            <form id="reviewForm" method="POST" th:action="|@{/books/}${book.slug + '/addReview'}|">
              <div>
                <span>Ваш отзыв</span><textarea id="reviewText" name="reviewText" type="text"></textarea>
              </div>
              <span id="reviewPopup__close" class="close">❎</span>
              <button class="Spoiler-trigger btn btn_primary btn_nr" type="submit" id="reviewSubmit" disabled="disabled">Отправить</button>
            </form>
          </div>
          <div id="reviewOverlay"></div>

          <div class="Comments">
            <div class="Comment" th:each="review : ${book.bookReviewList}">
              <div class="Comment-column Comment-column_pict"><div class="Comment-avatar"></div></div>
              <div class="Comment-column">
                <header class="Comment-header">
                  <div>
                    <strong class="Comment-title" th:text="${review.userName}">Александр Кузнецов
                      <span class="Comment-rating">
                        <span class="Rating Rating_comment">
                          <span th:replace="~{fragments/book_fragments :: intStars(2)}"></span>
                        </span>
                      </span>
                    </strong>
                    <span class="Comment-date" th:text="${#dates.format(review.time, 'dd.MM.yyyy hh:mm')}">17.04.2020 16:40</span>
                  </div>
                </header>
                <div class="Comment-content" th:if="${!stringHelper.hasSuffix(review.text, 200)}">
                  <p th:text="${review.text}">Lorem ipsum dolor sit amet</p>
                  <div th:replace="~{fragments/book_fragments :: commentFooter(200, 100, false)}"></div>
                </div>
                <div class="Comment-content" th:if="${stringHelper.hasSuffix(review.text, 200)}">
                  <div class="Spoiler">
                    <div class="Spoiler-visible">
                      <p th:text="${stringHelper.getLeadingPart(review.text, 200)}">Lorem ipsum dolor sit amet</p>
                    </div>
                    <div class="Spoiler-hide">
                      <p th:text="${stringHelper.getSuffixPart(review.text, 200)}">Первая книга - сборник повестей и рассказов</p>
                    </div>
                    <div th:replace="~{fragments/book_fragments :: commentFooter(500, 50, true)}"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
  <footer th:replace="~{fragments/footer_fragment :: footerFragment}"></footer>
  <script src="/assets/js/UploadNewBookImage.js"></script>
  <script src="/assets/js/DownloadBookWindow.js"></script>
  <script src="/assets/js/AddReviewWindow.js"></script>
</body>
</html>